<div class="section-teal">
  <div class="container">
    <div class="contact-form">
      <form action="https://formspree.io/f/mjvplndw" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="full-name">Full Name</label>
          <input class="form-control" type="text" name="name" id="full-name" placeholder="First and Last" required="">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input name="_replyto" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required="">
        </div>
        <div class="form-group">
          <label for="telephone">Telephone Number (optional)</label>
          <input class="form-control" type="telephone" name="telephone" id="telephone" placeholder="(+44)...">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message</label>
          <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder=""></textarea>
            <div class="justify-content-center text-center">
              <input class="inputfile" type="file" required="" name="file" id="file" data-multiple-caption="{count} files selected" multiple accept=".doc, .docx,.ppt,.pdf"/>
              <label for="file" id="cv-label">
                <i class="fas fa-file-upload"></i> Upload your CV here (PDF/Word)
                <div>
                  <span></span>
                </div>
              </label>
              <small id="emailHelp" class="form-text text-muted">All data provided will be deleted within 30 days</small>
              <button class="btn-lilac-contact" type="submit">Send</button>
              <input type="text" name="_gotcha" style="display:none" />
            </div>
        </div>
      </form>
    </div>
  </div>
</div>






<!-- <form action="https://liveformhq.com/form/0960a6f1-f6a0-41d1-85eb-531ff968819e" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
  <input type="hidden" name="_utf8" value="✓"> -->

  <!--
    NOTE: This is an optional field, if your form has a field named '_redirect',
    The user will be redirected to this page after the submission is saved
  -->
<!--   <input type="hidden" value="https://liveformhq.com/thank_you" name="_redirect" />

  <label for="name">Name</label>
  <input type="text" id="name" name="name"> <br />

  <label for="email">Email</label>
  <input type="text" id="email" name="email"> <br />

  <label for="cv"></label>
  <input type=file name="cv" />

  <button type="submit">Submit</button>
</form> -->
