<div class="footer">
  <div class="footer-links">
<!--     <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a> -->
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>018374 298497</p>
    <p>angelique@newbeginningsconsultation.com</p>
  </div>
</div>
