<div class="footer">
  <div class="footer-links">
    <!-- <a href="#"><i class="fab fa-instagram"></i></a> -->
    <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
    <%= image_tag("NB_logo_517x249.png", class: "avatar-medium") %>
    <div>
      <a href="https://www.facebook.com/New-Beginnings-Consultation-101258475059524" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.linkedin.com/company/new-beginnings-consultation-ltd/" target="_blank"><i class="fab fa-linkedin"></i></a>

    </div>
  </div>
  <div class="footer-copyright">
    <p>0203 488 5717</p>
    <div class="breaker">
      <a style="text-decoration: none; color: gray;" href="mailto:hello@newbeginningsconsultation.com">hello@newbeginningsconsultation.com</a>
    </div>
  </div>
</div>
