<!-- <div class="white-spacer"></div>
  <div class="section">
    <div class="container">
      <h1>Meet our team</h1>
      <hr class="top">
      <div class="white-spacer"></div>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <%= image_tag("NB.png", class: "avatar-bordered-employee") %>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <%= image_tag "NB2.png", alt: "alttext", class: "avatar-bordered-employee" %>
        </div>
      </div>
      <p>Please call:</p>
      <h2 style="color:#3BD4CD;">0203 488 5717</h2>
      <p>Or email:</p>
      <h3 style="color:#3BD4CD;">hello@newbeginningsconsultation.com</h3>
    </div>
  </div>
</div> -->

<div class= "container">
  <div class= "section contact-page">
    <h1>New Beginnings Consultation</h1>
    <h2>About us</h2>
    <p>Our website is being updated! More to come soon... </p>
    <p>In the meantime please feel free to get in touch.</p>
    <p>Please call:</p>
    <h2 style="color:#3CD3CC;">0203 488 5717</h2>
    <p>Or email:</p>
    <h3 style="color:#3CD3CC;">hello@newbeginningsconsultation.com</h3>
  </div>
</div>
