<div class= "container">
  <div class= "section contact-page">
    <h1>New Beginnings Consultation</h1>
    <h2>About us</h2>
    <p>Our website is being updated! More to come soon... </p>
    <p>In the meantime please feel free to get in touch.</p>
    <p>Please call:</p>
    <h2 style="color:#3CD3CC;">0203 954 2553</h2>
    <p>Or email:</p>
    <h3 style="color:#3CD3CC;">hello@newbeginningsconsultation.com</h3>
  </div>
</div>
