<!-- <div class="white-spacer"></div>
  <div class="section">
    <div class="container">
      <h1>Meet our team</h1>
      <hr class="top">
      <div class="white-spacer"></div>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div>
            <%= image_tag("NB.png", class: "avatar-bordered-employee") %>
          </div>
          <div>
            <h2>Angelique Bradford</h2>
          </div>
          <div>
            <h3>Founder & Commercial Director</h3>
          </div>
          <div class="accordion">
            <button type="button" class="orange-button">Find out more</button>
            <div class="accordion-content">
              <p>
                Angelique has over 20 years of helping build businesses from within. She has excels at finding great talent, matching skills to roles, and making sure that individuals are truly following their right career path. Previous roles within both Sales and Marketing brings a wide commercial experience, also ensuring that she can help New Beginnings Consultancy clients both develop and maintain their broader business vision.
              </p>
              <p>
                Her passion is for people and she loves to see “when a plan comes together” for both client and candidate. Outside of work other passions are her son, horse, dogs, a cat and the team believe she thinks she is a chicken whisperer! Her husband has realised he is now at the bottom of the pecking order…
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div>
          <%= image_tag "NB2.png", alt: "alttext", class: "avatar-bordered-employee" %>
          </div>
          <div>
            <h2>Chris McNally</h2>
          </div>
          <p>
            Chris has a twelve year commercial career operating in such FMCG businesses as Red Bull, Lactalis and Coty, in a range of commercial and management roles, partnered with several notable retailers, both in the UK and globally.
          </p>
          <p>
            Whilst in his commercial roles, he completed both a Diploma in Business Management and an MBA in Leadership, Strategy and Management Consulting, only further placing Chris in a strong position to lead and direct organisations in core commercial challenges.
          </p>
          <p>
           As a Principal Consultant,  he passionately believes in listening to our clients, in order to make the recommendations most relevant and beneficial to them.
          </p>
        </div>
      </div>
      <div class="white-spacer"></div>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div>
            <%= image_tag("NB.png", class: "avatar-bordered-employee") %>
          </div>
          <div>
            <h2>Angelique Bradford</h2>
          </div>
          <div>
            <p>
              Angelique has over 20 years of helping build businesses from within. She has excels at finding great talent, matching skills to roles, and making sure that individuals are truly following their right career path. Previous roles within both Sales and Marketing brings a wide commercial experience, also ensuring that she can help New Beginnings Consultancy clients both develop and maintain their broader business vision.
            </p>
            <p>
              Her passion is for people and she loves to see “when a plan comes together” for both client and candidate. Outside of work other passions are her son, horse, dogs, a cat and the team believe she thinks she is a chicken whisperer! Her husband has realised he is now at the bottom of the pecking order…
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div>
          <%= image_tag "NB2.png", alt: "alttext", class: "avatar-bordered-employee" %>
          </div>
          <div>
            <h2>Chris McNally</h2>
          </div>
          Chris has a twelve year commercial career operating in such FMCG businesses as Red Bull, Lactalis and Coty, in a range of commercial and management roles, partnered with several notable retailers, both in the UK and globally.



          Whilst in his commercial roles, he completed both a Diploma in Business Management and an MBA in Leadership, Strategy and Management Consulting, only further placing Chris in a strong position to lead and direct organisations in core commercial challenges.
          <p>
           As a Principal Consultant,  he passionately believes in listening to our clients, in order to make the recommendations most relevant and beneficial to them.
          </p>

        </div>
      </div>
    </div>
  </div>
</div> -->

<div class= "container">
  <div class= "section contact-page">
    <h1>New Beginnings Consultation</h1>
    <h2>About us</h2>
    <p>Our website is being updated! More to come soon... </p>
    <p>In the meantime please feel free to get in touch.</p>
    <p>Please call:</p>
    <a class="email-link" href="tel:+442034885717">0203 488 5717</a>
    <p>Or email:</p>
    <div class="breaker">
      <a href="mailto:hello@newbeginningsconsultation.com" class="email-link">hello@newbeginningsconsultation.com</a>
    </div>
  </div>
</div>
