<div class="container">
  <div class="section contact-page">
    <h1>Contact us now</h1>
    <h2>We would love to hear from you</h2>
    <p>Whilst our website is being updated, let's organise a consultation and discuss in more detail all of our services.</p>
    <p>You can either do this by phone or email.</p>
    <p>Please call:</p>
    <a class="email-link" href="tel:02034885717">0203 488 5717</a>
    <p>Or email:</p>
    <div class="breaker">
      <a href="mailto:hello@newbeginningsconsultation.com" class="email-link">hello@newbeginningsconsultation.com</a>
    </div>
  </div>
</div>
