<div class="white-spacer"></div>
<div class="white-spacer"></div>
<div class="section">
  <div class="container">
    <h1 class="text-center">Say hello!</h1>
    <%= render "shared/butterfly_break" %>
    <div class="white-spacer"></div>
    <p class="text-center">We love a chat, so if you would like further information on how we can help you and your company make the most of a new beginning – just call, email or complete the form.</p>
    <div class="white-spacer"></div>
    <div class="d-flex justify-content-around">
        <div class="card card-right" id="small-leaf" data-aos="fade-down-right" data-aos-duration="3000">
          <img src="https://images.unsplash.com/photo-1531592937781-344ad608fabf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Man in shade waving">
        </div>
        <div class="card card-left" id="small-leaf" data-aos="fade-down-left" data-aos-duration="3000">
          <img src="https://images.unsplash.com/photo-1460467820054-c87ab43e9b59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1561&q=80" alt="Welcome sign">
        </div>
    </div>
  </div>
    <div class="justify-content-center">
        <%= render "shared/contact_form" %>
    </div>
    <div class="white-spacer"></div>
    <div class="d-flex justify-content-around">
        <div class="card card-left" id="small-leaf" data-aos="fade-up-right" data-aos-duration="3000">
          <img src="https://images.unsplash.com/photo-1569144157581-984dea473e3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="Mobile Phone hello">
        </div>
        <div class="card card-right" id="small-leaf" data-aos="fade-up-left" data-aos-duration="3000">
          <img src="https://images.unsplash.com/photo-1489533119213-66a5cd877091?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Mug on table">
        </div>
    </div>
      <p>Give us a call on:</p>
      <a class="email-phone-blue" href="tel:+442034885717">+44 (0) 203 488 5717</a>
      <p>and let's start talking New Beginnings right away!</p>
</div>
