<div class="home-banner">
  <h1>New Beginnings Consultation</h1>
  <h2>Angelique Hathaway</h2>
  <form action=""></form>
  <a href="#" class = "btn btn-primary">Get in touch now</a>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>
