<% content_for(:navbar_class, "navbar-home") %>

<div class="home-banner">
  <h1>New Beginnings Consultation</h1>
  <h2>Here to listen, advise and deliver</h2>
  <form action=""></form>
  <%= link_to "Get in touch", pages_contact_path, class: "btn btn-ghost" %>
</div>

<div class="container">
  <div id="home-intro">
    <p>
      Let’s face it, work is what we have to do… we can all dream of waking up and petals are thrown at our feet and being hand fed grapes, in a place of your dreams. However, unless we are billionaires work is what we have to focus on. The fact is we are at work more than we are at home.
    </p>
    <p>
      New Beginnings is all about listening to your needs not only candidates but employers as well, ensuring both parties interests are looked after. We won’t be your best friend one day and then “ghost you the next”.
    </p>
    <p>
      We are not just recruitment!  We are not the soulless ( not all ) business where we just want to put a bum on a seat, or clap our hands at a fee that we will get from you as a candidate or from the employer.
    </p>
    <p>
      This is what we do…
    </p>
  </div>

  <div class="row justify-content-center">

    <div class="col-sm-12 col-md-6">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1567941537380-d3cc4b3384a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80" />
          <div class="card-infos">
            <div>
              <h2>A story of New Beginnings</h2>
              <p>What New Beginnings Consultation can do for you</p>
            </div>
            <h2 class="card-pricing">Click here</h2>
          </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1538766017398-415434a31a5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />
        <div class="card-infos">
          <div>
            <h2>Contact Us</h2>
            <p>Leave your contact details or schedule a call now</p>
          </div>
          <h2 class="card-pricing">Get in touch</h2>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1532009877282-3340270e0529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
        <div class="card-infos">
          <div>
            <h2>Our Values</h2>
            <p>What we stand for</p>
          </div>
          <h2 class="card-pricing">Find out more</h2>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1496902526517-c0f2cb8fdb6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
        <div class="card-infos">
          <div>
            <h2>Our services</h2>
            <p>How can we help?</p>
          </div>
          <h2 class="card-pricing">Work with us</h2>
        </div>
      </div>
    </div>
  </div>
</div>
