<div class="white-spacer">
</div>
<div class="section">
  <div class="container text-center">
    <h1>Human Resources & Employee Relations</h1>
    <div class="white-spacer">
    </div>
      <%= image_tag("NB_stroyboard-05.jpg", class: "avatar-bordered") %>
  </div>
</div>

<div class="section section-teal">
  <div class="container">
    <p>
      We have an exciting team of CIPD qualified human resources contractors who all believe that it is time to put human back into human resources.
    </p>
    <p>
      They will work with you to make sure you are compliant but also to make sure that your organisation is putting people first and living their values of the business. We offer bespoke services from on boarding, executive coaching to getting your teams to work together through using our unique tools.
    </p>
    <div class="d-flex justify-content-around">
      <div class="card card-left" id="small-leaf">
        <img src="https://images.unsplash.com/photo-1527525443983-6e60c75fff46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=664&q=80" alt="">
      </div>
      <div class="card card-right" id="small-leaf">
        <img src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80" alt="">
      </div>
    </div>
    <p>
      Whatever the reasons for redundancy, be it commercial challenges, an ever changing retail backdrop or a pandemic, we make sure we make sure that you have a complete understanding of what you can and can’t do as a business.  Redundancies are happening globally and we are here to support not only the business but the employees that are going through this emotional and stressful time
    </p>
    <p>
      We will work with you on your employee relations for us it is clear and proven, that the better rapport, honesty and trust between you and your employees the more likely your employees will stay and reach their full potential.
    </p>
  </div>
</div>

<div class="section">
  <div class="container">
    <p>Call us today on:</p>
    <h2 style="color:#3CD3CC">0203 488 5717</h2>
  </div>
</div>

