<div class="white-spacer"></div>
<div class="section">
  <div class="container text-center">
    <h1>Human Resources & Employee Relations</h1>
    <%= render "shared/butterfly_break" %>
    <div class="white-spacer"></div>
    <%= image_tag("NB_stroyboard-05.jpg", class: "avatar-bordered") %>
  </div>
</div>

<div class="section section-teal">
  <div class="teal-spacer"></div>
  <div class="container">
    <p>
      At New Beginnings, we passionately believe in putting people first. From onboarding, through executive
      coaching, to departure, our CIPD practitioners provide support at every stage of your employees’
      corporate journey.
    </p>
    <p>
      We help to ensure your people are at the heart of any organisational change. Whether it’s the
      performance improvement of a team, or a full restructure, we can offer advice. Our aim is always to meet
      both the needs of the organisation and the individual.
    </p>
    <div class="teal-spacer"></div>
    <div class="d-flex justify-content-center" style="margin:0 -15px;">
      <div class="card card-left" data-aos="fade-down-left" data-aos-duration="3000" id="small-leaf" style="margin:0 15px;">
        <img src="https://images.unsplash.com/photo-1527525443983-6e60c75fff46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=664&q=80" alt="Hands on tree showing unity">
      </div>
      <div class="gap">

      </div>
      <div class="card card-right" data-aos="fade-down-right" data-aos-duration="3000" id="small-leaf" style="margin:0 15px;">
        <img src="https://images.unsplash.com/photo-1533073526757-2c8ca1df9f1c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80" alt="Sign post in the sunset">
      </div>
    </div>
    <div class="teal-spacer"></div>
    <p>
      We are living and working in challenging times. The need for robust yet compassionate employee relations
      has never been greater. We can help your company through the changes it needs to make in a rapidly
      evolving world.
    </p>
    <p>
      And if you need to make redundancies, our experts will ensure the steps you take are open, honest and
      compliant. While our career consultants can offer support to your people and assist them with their next
      move.
    </p>
    <%= render "shared/butterfly_break" %>
  </div>
</div>
<%= render "shared/contact_section" %>

