<div class="white-spacer">
</div>

<div class="section">
  <div class="container text-center">
    <h1>Commercial Excellence</h1>
    <div class="white-spacer">
    </div>
    <%= image_tag("NB_stroyboard-03.jpg", class: "avatar-bordered") %>
  </div>
</div>

<div class="section section-teal">
  <div class="container">
    <h2>We will soon be launching a new range of services to help you to acheive Commercial Excellence!</h2>
    <div class="teal-spacer">
</div>

<!--       <div class="col-sm-12 col-md-6">
        <p>
        This isn’t simply looking at the definition of these two words. If you did, you would see the ‘WHAT’ words, such as ‘making profit’ or ‘being outstanding’. However, we at New Beginnings are here to support on the ‘HOW’ and help businesses recognise, there is far more that needs to be taken in to consideration.
        We believe the ‘HOW’ of Commercial Excellence is the systematisation and conceptualisation of how to both understand and better interact with your customer. We believe it is vital that businesses create a framework by which they can thoroughly investigate the potentials of value creation, including a customer-based perspective, together.
        </p>
      </div> -->
    <div class="d-flex justify-content-around">
        <div class="card card-left" id="small-leaf">
          <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="">
      </div>

        <div class=" card card-right" id="small-leaf">
          <img src="https://images.unsplash.com/photo-1532619675605-1ede6c2ed2b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="">
        </div>
    </div>
<!--       <div class="col-sm-12 col-md-6 col-lg-4">
        <p>
          Organisations do not buy. People do. They do not buy the product or service in itself, they buy what the product or service can do for them. They buy the methodical process that has been followed, the skills the business has demonstrate, their understanding of them as a customer, how empowered and motivated they are to get things done and of course, the promise of created value.
        </p>
      </div> -->

  </div>
</div>

<div class="section">
  <div class="container">
     <h3>For a sneak preview of what we will be offering, get in touch at:</h3>
     <div class="breaker">
     <a href="mailto:hello@newbeginningsconsultation.com" class="email-link">hello@newbeginningsconsultation.com</a>

     </div>
     <div class="white-spacer"></div>
    <p>Or call us today on:</p>
    <a class="email-link" href="tel:+442034885717">0203 488 5717</a>
  </div>
</div>


