<div class="white-spacer">
</div>

<div class="section">
  <div class="container text-center">
    <h1>Commercial Excellence</h1>
    <div class="white-spacer">
    </div>
    <%= image_tag("NB_stroyboard-03.jpg", class: "avatar-bordered") %>
  </div>
</div>

<div class="section section-teal">
  <div class="container">
     <p>
       Two words often referenced in business. Companies, with a desire to grow and be profitable, will strive to improve their strategic approach, both internally and to markets, often resorting to conceptual words such as Commercial Excellence to reference their goals and describe what they are trying to accomplish. However, without a full understanding, they are at risk of only producing another failed buzzword. Businesses need to understand the concepts in more detail in order to make them operational.
     </p>
    <div class="teal-spacer">
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8">
        <p>
        This isn’t simply looking at the definition of these two words. If you did, you would see the ‘WHAT’ words, such as ‘making profit’ or ‘being outstanding’. However, we at New Beginnings are here to support on the ‘HOW’ and help businesses recognise, there is far more that needs to be taken in to consideration.
        We believe the ‘HOW’ of commercial excellence is the systematisation and conceptualisation of how to both understand and better interact with your customer. We believe it is vital that businesses create a framework by which they can thoroughly investigate the potentials of value creation, including a customer-based perspective, together.
        </p>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card card-left center" id="small-leaf">
          <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="">
        </div>
      </div>
    </div>
    <div class="teal-spacer">
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-4">
        <div class=" card card-right center" id="small-leaf">
          <img src="https://images.unsplash.com/photo-1532619675605-1ede6c2ed2b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="">
        </div>
      </div>
      <div class="col-sm-12 col-md-8">
        <p>
          Organisations do not buy. People do. They do not buy the product or service in itself, they buy what the product or service can do for them. They buy the methodical process that has been followed, the skills the business has demonstrate, their understanding of them as a customer, how empowered and motivated they are to get things done and of course, the promise of created value. A business's long term success depends on your ability to deliver on those promises of value, whilst also ensuring an healthy profit line in your books.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <p>Call us today on:</p>
    <h2 style="color:#3CD3CC">0203 488 5717</h2>
  </div>
</div>


