<div class="white-spacer">
</div>

<div class="section">
  <div class="container text-center">
    <h1>360 Recruitment</h1>
    <div class="white-spacer">
    </div>
    <%= image_tag("NB_stroyboard-06.jpg", class: "avatar-bordered") %>
  </div>
</div>

<div class="section section-teal">
  <div class="container">
    <h3>How we support recruiters:</h3>
    <div class="teal-spacer"></div>
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-8">
        <p>
          At New Beginnings, we don’t just help you to fill your vacancy. We help you to find the person who will thrive in your company.
        </p>
        <p>
          Our experts will identify the requirements of the job; the skills, the experience, the qualifications. But also, the human elements that make up the perfect candidate. We aim to pinpoint the personality traits of the individual who will be the best addition to your company.
        </p>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card card-left center" id="small-leaf">
          <img src="https://images.unsplash.com/photo-1581091877018-dac6a371d50f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" alt="">
        </div>
      </div>
    </div>
    <div class="teal-spacer">
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card card-right center" id="small-leaf">
          <img src="https://images.unsplash.com/photo-1427751840561-9852520f8ce8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80" alt="">
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
          Our experienced team can help you to establish an assessment centre within your organisation. Our suite of testing and interview methods are tailored to meet the needs of your roles and organisational culture.
        </p>
        <p>
          From creating a centre for you to run yourselves, to joining you on your assessment panels. We offer advice at every stage.
        </p>
      </div>
    </div>
    <div class="teal-spacer">
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-4">
        <p>
          We think recruitment is ready for a shift in mindset. Recruitment isn’t just about jobs. Recruitment is about personalities.
        </p>
        <p>
          Our clients stay with us because this holistic approach finds people that fit. People that love their new job. Companies that love their new people.
        </p>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card card-right" id="small-leaf">
          <img src="https://images.unsplash.com/photo-1557425493-6f90ae4659fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="">
        </div>
      </div>
    </div>
  </div>
</div>



<div class="section section">
  <div class="container">
    <h3>
      How we support candidates:
    </h3>
  <div class="white-spacer">
  </div>
    <p>
      Our first step is to get to know you during an hour’s consultation. Our aim is to understand your skills, experience, motivations and requirements from your next move.
    </p>
    <p>
      We then work with you to best showcase yourself to a new employer. This includes CV preparation, use of LinkedIn and other social media, and utilising networks. And when you are ready to interview for your dream role, we will ensure you are prepared and confident in your approach.
    </p>
        <div class="white-spacer">
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card card-left" id="small-leaf">
              <img src="https://images.unsplash.com/photo-1515707743625-2f8e5fd8f8b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="">
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <p>
              We think looking for a new job is an ideal time to get to know yourself better. Using a range of tools including psychometric profiling, together we can find out how you work best.
            </p>
            <p>
              Not all leaders are extroverts, and not all extroverts are leaders. Taking the time to reflect on what creates job satisfaction for you is key to happiness and success at work.
            </p>
          </div>
        </div>
        <div class="white-spacer"></div>
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 col-md-4">
            <p>
              Our work with recruiters spans a broad range of industry sectors. Our clients are companies of different sizes in both the UK and globally. Our portfolio gives you access to a wide selection of roles.
            </p>
            <p>
              We believe our focus on personality enables us to find the perfect fit for our candidates. We want you to love your next job as much as we love ours.
            </p>

          </div>
          <div class="col-sm-12 col-md-4">
            <div class="card card-right" id="small-leaf">
              <img src="https://images.unsplash.com/photo-1527900887130-4c59133ff4a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="section">
    <div class="container">
      <p>Call us today on:</p>
      <a class="email-link" href="tel:+442034885717">0203 488 5717</a>
    </div>
  </div>

