<div class="white-spacer">
</div>

<div class="section">
  <div class="container text-center">
    <h1>360 Recruitment</h1>
    <div class="white-spacer">
    </div>
    <%= image_tag("NB_stroyboard-06.jpg", class: "avatar-bordered") %>
  </div>
</div>

<div class="section section-teal">
  <div class="container">
    <h3>What we do for you as a company:</h3>
    <div class="teal-spacer"></div>
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-8">
        <p>
          In short, we work in partnership with you. With your help we will ensure we fully understand your business and recruitment needs and then we will be able to provide you with an in-depth understanding of the candidate market in your specific geography and sector, including benchmarking for salaries at different levels and role make-ups. This is to make sure that not only do you make the right hire for the right salary, but also so that we can also positively and realistically manage the individual candidate’s expectations so that both parties are happy with the final remuneration level and/or package. Getting this right significantly enhances the individual’s satisfaction and lowers churn rates.
        </p>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card card-left center" id="small-leaf">
          <img src="https://images.unsplash.com/photo-1581091877018-dac6a371d50f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" alt="">
        </div>
      </div>
    </div>
    <div class="teal-spacer">
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card card-right center" id="small-leaf">
          <img src="https://images.unsplash.com/photo-1427751840561-9852520f8ce8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80" alt="">
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
         Where needed we can build a range of robust assessment centres for your recruitment needs and will, when required, sit on any assessment panels. Be it for an individual role or a wider internal application process, we build assessment centres to help make sure that you are testing for the skills that are needed in the business and the specific role. This also helps the individual(s) better understand what the role will entail and, if new to the business, get a feel for the company culture in more depth.
        </p>
      </div>
    </div>
    <div class="teal-spacer">
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-4">
        <p>
          It may sound odd but success for us is not hearing from you again for the role we have just helped you fill, because the right person will want to stay and grow that role and then move on to bigger and better things in your business. Our clients keep working with us on new opportunities time and again because of how we fill the roles they need help with.
        </p>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card card-right" id="small-leaf">
          <img src="https://images.unsplash.com/photo-1557425493-6f90ae4659fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="">
        </div>
      </div>
    </div>
  </div>
</div>



<div class="section section">
  <div class="container">
    <h3>
      What we do for you as an individual:
    </h3>
  <div class="white-spacer">
  </div>
    <p>
      We provide an hour’s consultation period for you where we get to know you, your experience, your skills, and what you are looking to do next in your career. We want to know what motivates you and what you feel you will bring to a new employer.  We will work with you to identify how best to showcase yourself, not just through what you write in your CV but how you make use of social media, networking and, of course, LinkedIn. And when you are ready to interview for your dream role, we will help ensure you are fully prepared and confident to approach this pivotal moment.
    </p>
        <div class="white-spacer">
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card card-left" id="small-leaf">
              <img src="https://images.unsplash.com/photo-1515707743625-2f8e5fd8f8b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="">
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <p>
              You will have the chance to get know yourself better through a variety of psychometric profiling tools and this is vitally important as it can materially help find the best actual role and business fit for you vs. what you might think you want or need. Knowing yourself is the first step to a successful career.
            </p>
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 col-md-4">
            <p>
              We work with a broad range of different industry sectors and busines sizes, from SMEs to the biggest global conglomerates, so we will be able to review a wide selection of roles with you and discuss those we feel would be most suitable based upon your skill sets and aspirations, and your fit with the business itself from a culture and ethos point of view.
            </p>

          </div>
          <div class="col-sm-12 col-md-4">
            <div class="card card-right" id="small-leaf">
              <img src="https://images.unsplash.com/photo-1527900887130-4c59133ff4a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="section">
    <div class="container">
      <p>Call us today on:</p>
      <a class="email-link" href="tel:+442034885717">0203 488 5717</a>
    </div>
  </div>

