<div class="white-spacer">
</div>

<div class="section">
  <div class="container text-center">
    <h1>360 Recruitment</h1>
    <div class="flourish">
      <%= image_tag "rsz_nb_butterfly-01.png", alt: "alttext", class: "avatar-tiny", id: "img-hr" %>
    </div>
    <div class="white-spacer">
    </div>
    <%= image_tag("NB_stroyboard-06.jpg", class: "avatar-bordered") %>
  </div>
  <div class="d-flex justify-content-around">
    <button class="btn-lilac" data-target="employers">For Employers</button>
    <button class="btn-lilac" data-target="candidates">For Candidates</button>
  </div>
  <div class="white-spacer"></div>
</div>

<div class="section section-teal" id="employers">
  <div class="teal-spacer"></div>
  <div class="container">
    <h3>For Employers</h3>
    <div class="teal-spacer"></div>
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-6">
        <p>
          At New Beginnings, we don’t just help you to fill your vacancy. We help you to find the person who will thrive in your company.
        </p>
        <p>
          Our experts will identify the requirements of the job; the skills, the experience, the qualifications. But also, the human elements that make up the perfect candidate. We aim to pinpoint the personality traits of the individual who will be the best addition to your company.
        </p>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card card-left center" data-aos="fade-down-left" data-aos-duration="3000" id="small-leaf">
          <img src="https://cdn.shopify.com/s/files/1/0558/1477/articles/ivana-cajina-7JWXbeBB4gY-unsplash_2048x.progressive.jpg?v=1580244535" alt="Celebrating success by the sea">
        </div>
      </div>
    </div>
    <div class="teal-spacer">
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card card-right center" data-aos="fade-down-right" data-aos-duration="3000" id="small-leaf">
          <img src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="Team enjoying working in office">
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
          Our experienced team can help you to establish an assessment centre within your organisation. Our suite of testing and interview methods are tailored to meet the needs of your roles and organisational culture.
        </p>
        <p>
          From creating a centre for you to run yourselves, to joining you on your assessment panels. We offer advice at every stage.
        </p>
      </div>
    </div>
    <div class="teal-spacer">
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-4">
        <p>
          Not only about new beginnings, we’re also about nurturing growth. We can help you to build a brand people dream of working for.
        </p>
        <p>
          Our brand management team bring together marketing and creative expertise to work with you to define your individual employee brand. A brand that will attract the best talent to your business.
        </p>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card card-left" data-aos="fade-down-left" data-aos-duration="3000" id="small-leaf">
          <img src="https://images.unsplash.com/photo-1443948308135-d57fc66de368?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80" alt="Young plant growing new leaves">
        </div>
      </div>
    </div>
    <div class="teal-spacer"></div>
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-4">
        <div class="card card-right" data-aos="fade-down-right" data-aos-duration="3000" id="small-leaf">
          <img src="https://images.unsplash.com/photo-1535615615570-3b839f4359be?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80" alt="Heart in the sand">
        </div>

      </div>
      <div class="col-sm-12 col-md-4">
        <p>
          We think recruitment is ready for a shift in mindset. Recruitment isn’t just about jobs. Recruitment is about personalities.
        </p>
        <p>
          Our clients stay with us because this holistic approach finds people that fit. People that love their new job. Companies that love their new people.
        </p>
      </div>
    </div>
  </div>
</div>



<div class="section" id="candidates">
  <div class="white-spacer"></div>
  <div class="container">
    <h3>
      For Candidates
    </h3>
  <div class="white-spacer"></div>
    <p>
      Our first step is to get to know you during an hour’s consultation. Our aim is to understand your skills, experience, motivations and requirements from your next move.
    </p>
    <p>
      We then work with you to best showcase yourself to a new employer. This includes CV preparation, use of LinkedIn and other social media, and utilising networks. And when you are ready to interview for your dream role, we will ensure you are prepared and confident in your approach.
    </p>
    <div class="white-spacer"></div>
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card card-left" data-aos="fade-down" data-aos-duration="3000" id="small-leaf">
          <img src="https://images.unsplash.com/photo-1574645434327-cb7970fe2e13?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80" alt="Magnifying glass searching in the sun">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <p>
          We think looking for a new job is an ideal time to get to know yourself better. Using a range of tools including psychometric profiling, together we can find out how you work best.
        </p>
        <p>
          Not all leaders are extroverts, and not all extroverts are leaders. Taking the time to reflect on what creates job satisfaction for you is key to happiness and success at work.
        </p>
      </div>
    </div>
    <div class="white-spacer"></div>
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-4">
        <p>
          Our work with employers spans a broad range of industry sectors. Our clients are companies of different sizes in both the UK and globally. Our portfolio gives you access to a wide selection of roles.
        </p>
        <p>
          We believe our focus on personality enables us to find the perfect fit for our candidates. We want you to love your next job as much as we love ours.
        </p>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card card-right" data-aos="fade-down" data-aos-duration="3000" id="small-leaf">
          <img src="https://images.unsplash.com/photo-1497561813398-8fcc7a37b567?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="Man proud of achievment in red sky">
        </div>
      </div>
    </div>
  </div>
  <div class="flourish">
    <%= image_tag "rsz_nb_butterfly-01.png", alt: "alttext", class: "avatar-tiny", id: "img-hr" %>
  </div>
        <div class="white-spacer">
        </div>
        <p>We would love to hear from you!</p>
        <p>Call us on:</p>
        <a class="email-phone-blue" href="tel:+442034885717">0044 203 488 5717</a>
        <p>Email us at:</p>
        <div class="breaker">
          <a href="mailto:hello@newbeginningsconsultation.com" class="email-phone-blue">hello@newbeginningsconsultation.com</a>
        </div>
        <div class="white-spacer"></div>
        <p>Or get in touch using the form below:</p>
      </div>
</div>





