<div class="white-spacer">
</div>

<div class="section">
  <div class="container text-center">
    <h1>Risk Management</h1>
    <div class="white-spacer">
    </div>
      <%= image_tag("NB_stroyboard-04.jpg", class: "avatar-bordered") %>
  </div>
</div>

<div class="section section-teal">
  <div class="container text-center">
    <p>
      Nobody wants to think that their business maybe moving into uncertain times and with COVID 19 this has just underlined the importance of looking at the threats to your organisation’s capital and earnings.
    </p>

    <p>
      With all the uncertainty that we face globally, we have a team of highly qualified consultants that are able to look at your organisation and look all possible risks your business maybe facing.
    </p>
    <div class="d-flex justify-content-around">
      <div class="card card-left" id="small-leaf">
        <img src="https://images.unsplash.com/photo-1558939608-7e8f4c8336d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="">
      </div>
      <div class="card card-right" id="small-leaf">
        <img src="https://images.unsplash.com/photo-1531964714722-c71126c62568?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2592&q=80" alt="">
      </div>
    </div>

    <p>
      We will look at where your main risks are from legal liabilities, organisation structure, through to helping you with your internal communications once the decisions have been made.  We will be the ones that can help people understand the whys?
    </p>

    <p>
       This goes hand in hand with our human in human resources.
    </p>
  </div>
</div>
    <div class="section">
      <p>Call us today on:</p>
      <h2 style="color:#3CD3CC">0203 954 2553</h2>
    </div>

