<div class="white-spacer">
</div>

<div class="section">
  <div class="container text-center">
    <h1>Sales Effectiveness</h1>
    <div class="flourish">
      <%= image_tag "rsz_nb_butterfly-01.png", alt: "alttext", class: "avatar-tiny", id: "img-hr" %>
    </div>
    <div class="white-spacer">
    </div>
    <%= image_tag("NB_stroyboard-03.jpg", class: "avatar-bordered") %>
  </div>
</div>

<div class="section section-teal">
  <div class="teal-spacer"></div>
  <div class="container text-center">
    <p>
      At New Beginnings, we aim to empower our clients to achieve outstanding commercial excellence.
      Enabling sales teams to work highly effectively can be a key element in this transformation.
    </p>
    <p>
      Our expertise in capability development will help you to identify the needs of each member of your teams.
      Our consultants will explore not just the technical, but also the emotional requirements of each role. We
      can deliver training in key skills such as negotiation and set up and provide mentoring.
    </p>
    <div class="teal-spacer"></div>
    <div class="d-flex justify-content-around">
      <div class="card card-right" data-aos="fade-down-right" data-aos-duration="3000" id="small-leaf">
        <img src="https://www.eat52lunches.com/wp-content/uploads/2019/04/isaiah-rustad-1073714-unsplash.jpg" alt="Teammates supporting eachother">
      </div>
      <div class=" card card-left" id="small-leaf" data-aos="fade-down-left" data-aos-duration="3000" id="medium-leaf">
        <img src="https://images.unsplash.com/photo-1607296393394-6e25d0fc15cc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1864&q=80" alt="Leaves at different stages of life">
      </div>
    </div>
    <div class="teal-spacer"></div>
    <p>
     We want to help your teams to work brilliantly together. An effective team is never just the sum of its parts. Conducting discussions with people both inside and outside your teams can identify how they can work better together.
    </p>
    <p>
      Understanding not just the synergies, but also the differences within a team can bring enhanced effectiveness to the group. We tailor our development programmes to balance the needs of the organisation and the personality of the individual.
    </p>
  </div>
</div>



<div class="section">
  <div class="container">
    <p>We would love to hear from you!</p>
    <p>Call us on:</p>
    <a class="email-phone-blue" href="tel:+442034885717">0044 203 488 5717</a>
    <p>Email us at:</p>
    <div class="breaker">
      <a href="mailto:hello@newbeginningsconsultation.com" class="email-phone-blue">hello@newbeginningsconsultation.com</a>
    </div>
    <div class="white-spacer"></div>
    <p>Or get in touch using the form below:</p>
  </div>
</div>


