.home-banner {
  background-image: url("https://images.unsplash.com/photo-1501699436142-683943877225?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  animation: slideIn 4000ms ease-in forwards;
  h1 {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  }
  h2 {
    font-size: 25px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    margin-top: 20px;
  }
}

// @keyframes slideIn {
//       0% {
//           background-position: 50% 50%;
//       }
//       100% {
//           background-position: 100% 100%;
//       }
//   }
