.contact-form {
  padding: 50px;
  max-width: 80%;
  justify-content: center;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .contact-form {
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .contact-form {
    max-width: 100%;
  }
}

.border-blue {
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: #2A6355 1px solid;
  margin-bottom: 40px;
  margin-top: 40px;
}
