.navbar-lewagon {
  justify-content: space-between;
  background: white;
  color: #eee;
  background-color: white;
  transition: 0.5s background-color ease;
  position: fixed-top;
  max-width: 100%;
}

.navbar-home {
  justify-content: space-between;
  background: white;
  color: #eee;
  background-color: transparent;
  transition: 0.5s background-color ease;
  .nav-link-black {
    color: rgba(255,255,255, 0.6);
    padding: 20px 20px 20px 0px;
  }
  .nav-link-blue {
    color: #3BD4CD;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-white {
  background-color: white;
}

.nav-link-white {
  color: rgba(255,255,255, 0.6);
  padding: 0px 20px 0px 0px;
}

.nav-link-black {
  color: black;
  padding: 50px 20px 40px 0px;
}

.nav-link-black:hover {
  text-decoration: none;
  color: #3CD3CC;
}

.nav-link-blue {
  color: #3CD3CC;
  &:hover {
    color: black;
  }
}

// @media screen and (max-width: 600px) {
//   .fixed-top {
//     right: 40px;
//   }
// }
