.section {
  text-align: center;
  background: white;
  margin: 0px 0px;
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  color: #2A6355;
}

.section-white {
  background: white;
  margin: 0px 0px;
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  color: #2A6355;
}

.white-spacer {
  margin-top: 60px;
  background-color: white;
  margin-bottom: 10px;
}

.big-white-spacer {
  margin-top: 90px;
  margin-bottom: 300px;
  background-color: white;
}

.teal-spacer {
  padding-top: 60px;
  background-color: #DEF7F3;
}

.section-teal {
  background-color: #DEF7F3;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  color: #2A6355;
  margin: 0px 0px;
  padding: 30px;                             /* Internal space */
  border-radius: 4px;
}

.section-dark {
  background-color: rgb(0, 0, 0);
  border-radius: 0px;                       /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  h2 {
    color: white;
    font-size: 25px;
  }
}

.welcome {
  padding: 50px;
  padding-bottom: 130px;
  padding-top: 130px;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

.contact-page {
  margin-top: 150px;
  margin-bottom: 50px;
  overflow-wrap: break-word;
  h1 {
    color: #18544D;
  }
  h3 {
    font-size: 15px;
  }
}

.top {
  height: 1px;
  width: 30%;
  align-items: center;
  color: #2A6355;
  background-color: #2A6355;
  border: none;
  opacity: 0.6;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  flex-wrap: flex;
}

.flex-item {
  padding: 10px 40px;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 0;
}

.email-phone-blue {
  color: #3CD3CC;
  font-size: 25px;
}
.email-phone-blue:hover {
  text-decoration: none;
  color: #3CD3CC;
}


